body{
    background-color: white;
}
h1{
    text-align: center;
}
.container{
    width: 350px;
    height:auto;
    margin: auto;
    margin-top:30%;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
}
.input-area{
    display: flex;      
    gap: 10px;
    margin-bottom: 15px; 
}

input{
    flex: 1;
    width: 250px;
    height: 30px;
    border-radius: 3px;
}
    
button{
    height: 35px;
    width: 50px;
    border-radius: 3px;
    border: none;
    background-color: deepskyblue;
}
small{
    color: red;
    font-size: medium;
    margin-left: 10px;
    display: block;
}

ul{
    list-style: none;
    margin-top: 10px;
    padding: 0;
    
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    font-size: 20px;
    
}

li button{
    background-color: red;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
    
}

